img{
	height: 200px;
	width: 200px;
}

.panierName{
	font-size: 50px;
	text-align: center;
	text-decoration: underline;
	padding-bottom: 30px;
	font-weight: bold;
}

td {
	font-size: 20px;
	text-align: center;
}

.titreTab {
	font-size: 40px;
	text-decoration: underline;
	font-style: italic;
}

.final {
	margin:auto;
	display:block;
	text-align: center;
	margin-top: 30px;
	font-size: 20px;
	font-weight: bold;
}

.nonValid {
		font-size: 20px;
	text-align: center;
}