h1, div, fieldset, legend, ol, li {
  margin: 0;
  padding: 0;
}
div#paiement {
	background: #757575;
	margin:auto;
	display:block;
	text-align: center;
	width: 400px;
	border: none;
	margin-bottom: 10px;
}
div#paiement ol li {
  background: #b9cf6a;
  background: rgba(255,255,255,.3);
  border-color: #e3ebc3;
  border-color: rgba(255,255,255,.6);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  line-height: 30px;
  list-style: none;
  padding: 5px 10px;
  margin-bottom: 2px;
}
div#paiement ol ol li {
  background: none;
  border: none;
  float: left;
}

div#paiement label {
  float: left;
  font-size: 13px;
  width: 110px;
}
div#paiement fieldset fieldset label {
  background:none no-repeat left 50%;
  line-height: 20px;
  padding: 0 0 0 30px;
  width: auto;
}
div#paiement label[for=visa] {
  background-image: url(visa.gif);
}
div#paiement label[for=amex] {
  background-image: url(amex.gif);
}
div#paiement label[for=mastercard] {
  background-image: url(mastercard.gif);
}
div#paiement fieldset fieldset label:hover {
  cursor: pointer;
}

div#paiement input:not([type=radio]),
div#paiement textarea {
  background: #ffffff;
  border: none;
  border-radius: 3px;
  font: italic 13px Georgia, "Times New Roman", Times, serif;
  outline: none;
  padding: 5px;
  width: 200px;
}
div#paiement input:not([type=submit]):focus,
div#paiement textarea:focus {
  background: #eaeaea;
}
div#paiement input[type=radio] {
  float: left;
  margin-right: 5px;
}

div#paiement button {
  border: none;
  border-radius: 20px;
  display: block;
  letter-spacing: 1px;
  margin: auto;
  padding: 7px 25px;
  text-transform: uppercase;
}
div#paiement button:hover {
  background: #1e2506;
  cursor: pointer;
}