body {
    background-color: #E0E0E0;
}

img{
	height : auto;
	width : 40%;
	margin-right: 30px;
	margin-left: 30px;
	margin-top: 20px;
	padding-bottom: 20px;
	
}

.imgEtoile{
	max-width: 100%;

}

.imgPres {
	text-align: left;	
}

#imgNom {
	overflow: auto;
	display: inline-block;
}

.btn.btn-info {
	margin: 0 auto;
	float: inherit;
}

.star{
	height: 50px;
	width:50px;
}



