.classCatal{
	text-align : center;
	margin-left : 10%;
	margin-right : 10%;
	margin-top : 50px;
}

.imgCatalogue img{
	height : 200px;
	width : 200px;	
	border-width : 1px;
	border-color:black;
	border-style : solid;
}

.imgCatalogue p{
	text-align : center;
	color : white;	
}

#imgNom{
	padding-top : 5px;
}



.imgCatalogue{
    	display:inline-block;
    	margin-right:10px;
   	background-color: black;
   	margin-bottom:10px;
	height : 250px;
	width : 200px;	
}

h4 {
	margin-left: 20px;
}